body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'McLaren', sans-serif;
    font-weight: 300;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: gray;
    width: 100%;
    padding: 0 0 1rem 0;
}

.heading {
    background-color: yellow;
    padding: 1rem;
    margin-top: 0;
    font-family: 'McLaren', sans-serif;
    font-weight: 400;
    box-shadow: 5px 5px 20px white;
}

.note {
    height: 100px;
    width: 200px;
    background-color: white;
    font-size: 12px;
    margin: 1rem;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: overflow 1s ease;
}

.note:hover {
    overflow: auto;
}